<div class="section">

     <!--   Icon Section   -->
     <div class="row">

       <div class="col s12 m8">

				<% @posts.each do |post| %>
         <div class="card-panel">
          <div class="card-image">
            <%= image_tag "foto7.jpg", class:'responsive-img' %>       
          </div>

					<h2><%= post.title %></h2>
					<p class="gray-text"><%= truncate(post.content, :length => 150) %></p>
					<br>
					<%= link_to "Mais", post, class:"waves-effect waves-light pink lighten-4 btn"%>
					</div>
				<%end%>
			</div>
